body{
     text-align:justify;
     text-decoration:aliceblue;

}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    margin-top:0px;
}
h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
    .right-img{
    float:right;

}